* {
  box-sizing: border-box;
}
html {
  font-family: 'Roboto', sans-serif;
}
.container {
  max-width: 930px;
  margin: auto;
}
@media (max-width: 975px) {
  .container {
    padding-left: 34px;
    padding-right: 32px;
  }
}
@media (max-width: 512px) {
  html, body {
    height: 100%;
  }
}
