$basic-purple: #FA0A80;
$basic-blue: #0A9DFA;
$basic-white: #FFFFFF;
$basic-green: #A0D235;
$basic-grey: #F1F1F1;
$basic-font-grey: #A8A8A8;
$basic-font-color: #2C2C3D;
$hover-blue: #3bb0fa;
$active-blue: #088add;
$hover-purple: #fa0a80;
$active-purple: #e20873;
